@model Cumulative1.Models.Student

@{
    ViewBag.Title = "Show";
}

<h2>@Model.StudentName</h2>
<p>Student ID: @Model.StudentId</p>
<p>Student Number: @Model.StudentNumber</p>
<p>Enrol Date: @Model.StudentEnrolDate</p>




