
@model IEnumerable<Cumulative3.Models.Student>

@{
    ViewBag.Title = "List";
}

<h2>List of Students</h2>

@{
    foreach (Cumulative3.Models.Student Student in Model)
    {
        <div><a href="/Student/Show/@Student.StudentId">@Student.StudentName</a></div>

    }

}
